.registration {

  &__title {
    font-size: $font-size-lg;
    line-height: normal;
    margin-bottom: 20px;
  }

  &__form {
    max-width: 350px;
    margin: 0 auto 10px;

    &-field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      & label {
        text-align: right;
        margin-right: 10px;
        width: 40%;
      }

      & input {
        border: none;
        border-radius: $border-radius;
        background-color: $background-color-light;
        padding: 5px;
        height: 30px;
        width: 60%;
      }
    }

    & button {
      margin: 15px 0 10px;
      font-size: $font-size-md;
    }
  }

  &__subform-link {
    color: $select-color;
    text-decoration: none;
  }
}