$border-color: #333333;
$background-color: #222222;
$background-color-dark: #141414;
$background-color-medium: #292929;
$background-color-light: #424242;
$font-color: #fff;
$select-color: #71aaeb;
$select-color-dark: #397dcc;
$font-size-sx: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$background-hover: rgba(255, 255, 255, 0.08);
$border-radius: 5px;

$duration: .2s;