@import './variables';
@import './components/all';

body {
  background-color: $background-color-dark;
  color: $font-color;
  font-size: $font-size-sm;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  min-height: calc(100vh + 1px);
}

.app-body {
  display: grid;
  grid-template-columns: 2fr 10fr;
  max-width: 960px;
  margin: 0 auto;
  grid-gap: 10px;
  padding: 15px 0;
}

.app-content {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

a {
  color: $font-color;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

input {
  color: $font-color;
}

button {
  border: 1px solid $select-color;
  border-radius: $border-radius;
  padding: 5px 10px;
  text-transform: capitalize;
  background-color: transparent;
  color: $select-color;
  font-size: $font-size-sm;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.container {
  border: 1px solid $border-color;
  background-color: $background-color;
  border-radius: $border-radius;
  padding: 15px;
}

.MuiMenu-list {
  background-color: $background-color!important;
  border: 1px solid $border-color;
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sb {
  justify-content: space-between;
}

.justify-content-sa {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

::-webkit-scrollbar-track {
	background-color: transparent; /*Цвет скролла*/
} 
::-webkit-scrollbar-thumb { 
	border-radius: 5px; /*Закругление ползунка*/
	background-color: $background-color-light; /*Цвет ползунка*/
} 
::-webkit-scrollbar { 
	width: 6px;  /*Толщина скролла*/
}